Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-analyzer-osx-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions: []

